/* Variables */
:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  --font-size-error: 1rem;
  --font-size-label: 1.2rem;
  --font-size-input: 1.6rem;
  --font-size-result: 4.8rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

input,
button {
  appearance: none;
  font: inherit;
}

/* Remove input arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Main styles */
body {
  padding: 2rem;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  background-color: var(--off-white);
  color: var(--off-black);
}

main {
  width: min(52.5rem, 100%);
  padding: 3rem 3.5rem 3.5rem;
  background: var(--white);
  border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  background: linear-gradient(
    to top,
    transparent 2.9375rem,
    var(--off-white) 2.9375rem,
    var(--off-white) 3.0625rem,
    transparent 3.0625rem
  );
  margin-bottom: 3rem;
}

.field {
  position: relative;
  &__label {
    font-size: var(--font-size-label);
    font-weight: 800;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--smokey-grey);
    line-height: 2;
  }
  &__input {
    display: block;
    width: 100%;
    height: 4.5rem;
    padding-inline: 1.6rem;
    font-size: var(--font-size-input);
    font-weight: 800;
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
  }
  &__error {
    position: absolute;
    margin-top: 0.5rem;
    font-size: var(--font-size-error);
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    color: var(--light-red);
    &:empty {
      display: none;
    }
  }
}

.button {
  display: block;
  grid-column: 1 / -1;
  place-self: center;
  margin-top: 4rem;
  width: 6rem;
  aspect-ratio: 1;
  background: url(../assets/icon-arrow.svg) center / 50% no-repeat;
  background-color: var(--purple);
  color: transparent;
  border: 0;
  border-radius: 50%;
  &:disabled {
    background-color: var(--smokey-grey);
  }
}

/* Results */
.result {
  font-size: var(--font-size-result);
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.125rem;
  line-height: 1.1;
  em {
    color: var(--purple);
    margin-right: -0.625rem;
  }
}

/* Focus */
:focus-visible {
  outline: 2px solid var(--purple);
}

/* Error styles when there's an error message */
.field:has(small:not(:empty)) {
  label {
    color: var(--light-red);
  }
  input {
    border-color: var(--light-red);
  }
}

/* Responsive */
@media screen and (min-width: 768px) {
  :root {
    --font-size-error: 0.625rem;
    --font-size-label: 0.875rem;
    --font-size-input: 2rem;
    --font-size-result: 6.5rem;
  }
  html {
    font-size: 100%;
  }
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .form {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
  }
  .field__label {
    line-height: 3;
  }
  .button {
    margin-top: 0;
    place-self: end;
  }
}

/* Hover */
@media (hover: hover) {
  .field__input {
    cursor: pointer;
    &:hover {
      border-color: var(--purple);
    }
  }
  .button {
    transition: background-color 0.2s ease-in;
    &:enabled {
      cursor: pointer;
      &:hover {
        background-color: var(--off-black);
      }
    }
  }
}
